
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 244.9rem;
}.contact-Szg {
  padding: 6.95rem 0rem 6.4rem 32rem;
  width: 100%;
  height: 126.33rem;
  background-color: #2e2d2d;
  box-sizing: border-box;

  .divcanvas-dpG {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .divheaderinfo-vgt {
      flex-shrink: 0;
      margin: 0rem 132.474rem 2.8rem 47.596rem;
      width: calc(100% - 180.07rem);
      align-items: center;
      display: flex;
      flex-direction: column;

      .heading-1-bookmark-carlos-baena-RtY {
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        font-size: 2.5715rem;
        font-weight: 400;
        line-height: 1.127753304;
        letter-spacing: 1rem;
        text-transform: uppercase;
        color: #ffffff;
        white-space: nowrap;
        margin: 0rem 0.022rem 3.85rem 0rem;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
      }
      .navigation-nav-list-27e {
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .item-link-home-9i4 {
          margin-right: 2.26rem;
          font-weight: 400;
          color: #a4a2a2;
          align-items: center;
          line-height: 1.5;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          cursor: pointer;
          display: flex;
          font-size: 1.2rem;
          letter-spacing: 0.2rem;
          white-space: nowrap;
          justify-content: center;
          text-transform: uppercase;
        }
        .item-link-animation-2G4 {
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          margin-right: 2.21rem;
          display: flex;
          justify-content: center;
          color: #a4a2a2;
          cursor: pointer;
          font-size: 1.1625rem;
          flex-shrink: 0;
          align-items: center;
          letter-spacing: 0.2rem;
          text-transform: uppercase;
          white-space: nowrap;
          line-height: 1.5483870968;
        }
        .item-link-contact-72c {
          justify-content: center;
          font-size: 1.1625rem;
          font-weight: 400;
          line-height: 1.5483870968;
          letter-spacing: 0.2rem;
          text-transform: uppercase;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          align-items: center;
          color: #e4e2e2;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.16rem;
        }
        .item-link-resources-biU {
          color: #a4a2a2;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          font-weight: 400;
          line-height: 1.5483870968;
          text-transform: uppercase;
          letter-spacing: 0.2rem;
          white-space: nowrap;
          cursor: pointer;
          align-items: center;
          justify-content: center;
          font-size: 1.1625rem;
        }
      }
    }
    .divpage-5c5e653553450a883a13f7ac-6fE {
      margin-bottom: 29.644rem;
      width: 100%;
      height: 64.086rem;
      position: relative;
      flex-shrink: 0;

      .divyui31721170575928506274-DUx {
        width: 212.9rem;
        height: 34.53rem;
        position: absolute;
        left: 0;
        top: 0;

        .divsqs-html-content-YGL {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 15.891rem;

          .hey-im-sridharan-a-self-taught-3d-artist-from-namakkal-tamil-nadu-with-a-bvoc-in-multimedia-production-technology-and-over-a-year-of-experience-i-specialize-in-creating-captivating-3d-models-and-animations-im-passionate-about-pushing-the-boundaries-of-3d-art-and-am-always-eager-to-learn-and-grow-welcome-to-my-world-of-digital-art--U9z {
            font-family: Inter, 'Source Sans Pro';
            margin-bottom: 7.391rem;
            color: #c2c2c2;
            font-size: 1.1273rem;
            font-weight: 400;
            line-height: 1.4990990653;
            letter-spacing: 0.112rem;
            flex-shrink: 0;
            max-width: 60.2rem;
            display: flex;
          }
          .sridharan-W8c {
            letter-spacing: 0.112rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            line-height: 1.4469564891;
            color: #c2c2c2;
            font-size: 1.168rem;
            font-weight: 400;
          }
        }
      }
      .form-RFa {
        width: 128rem;
        height: 46.65rem;
        position: absolute;
        left: 0;
        top: 17.436rem;

        .divfield-list-9xG {
          display: flex;
          flex-direction: column;
          margin-bottom: 1.8rem;
          width: 100%;
          align-items: center;

          .fieldset-6sW {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 2.536rem;

            .divybzr8ig6xsicuw7go-3Xr {
              margin: 0rem 117.319rem 0.7rem 0rem;
              width: calc(100% - 117.319rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .name-9qn {
                color: #c2c2c2;
                font-family: Inter, 'Source Sans Pro';
                margin-right: 0.481rem;
                font-size: 1.2391rem;
                font-weight: 400;
                line-height: 1.2125;
                letter-spacing: 0.112rem;
                display: flex;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .required-fp8 {
                line-height: 1.0847457627;
                letter-spacing: 0.112rem;
                color: #c2c2c2;
                margin-top: 0.1rem;
                font-weight: 400;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.1063rem;
              }
            }
            .auto-group-6kz6-ZuW {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              width: 100%;
              height: 5.264rem;

              .divfield-X5e {
                margin: 0.014rem 1.1rem 0rem 0rem;
                width: 41.5rem;
                height: calc(100% - 0.014rem);
                flex-shrink: 0;

                .first-name-dPa {
                  display: flex;
                  font-size: 1.0875rem;
                  line-height: 1.2125;
                  letter-spacing: 0.112rem;
                  color: #c2c2c2;
                  margin-bottom: 0.15rem;
                  font-weight: 400;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .input-YWY {
                  width: 100%;
                  height: 3.7rem;
                  border: solid 0.1rem #a9a9a9;
                  box-sizing: border-box;
                  background-color: #fafafa;
                }
              }
              .divfield-GhS {
                margin-bottom: 0.014rem;
                width: 85.4rem;
                height: calc(100% - 0.014rem);
                flex-shrink: 0;

                .last-name-1Q8 {
                  font-size: 1.0875rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #c2c2c2;
                  margin-bottom: 0.15rem;
                  display: flex;
                  letter-spacing: 0.112rem;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .input-KQp {
                  border: solid 0.1rem #a9a9a9;
                  box-sizing: border-box;
                  background-color: #fafafa;
                  width: 100%;
                  height: 3.7rem;
                }
              }
            }
          }
          .divemail-yui3172115496901672231909-T1E {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 2.5rem;
            width: 100%;

            .divll97ltnppgvbmrcigqyt-AwE {
              width: calc(100% - 111.953rem);
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              margin: 0rem 111.953rem 1.05rem 0rem;

              .email-address-Uwv {
                margin-right: 0.547rem;
                color: #c2c2c2;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                display: flex;
                font-size: 1.1578rem;
                font-weight: 400;
                line-height: 1.2125;
                letter-spacing: 0.112rem;
                white-space: nowrap;
              }
              .required-nxc {
                display: flex;
                font-size: 1.1063rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #c2c2c2;
                white-space: nowrap;
                letter-spacing: 0.112rem;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
              }
            }
            .input-7V6 {
              height: 3.7rem;
              border: solid 0.1rem #a9a9a9;
              box-sizing: border-box;
              background-color: #fafafa;
              flex-shrink: 0;
              width: 100%;
            }
          }
          .divtext-yui3172115496901672231910-qfz {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 2.55rem;
            width: 100%;

            .divll97ltnppgvbmrcigqyt-Nfv {
              margin: 0rem 116.136rem 1.1rem 0rem;
              width: calc(100% - 116.136rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .subject-W1S {
                color: #c2c2c2;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                font-size: 1.1984rem;
                line-height: 1.2125;
                flex-shrink: 0;
                margin-right: 0.464rem;
                font-weight: 400;
                letter-spacing: 0.112rem;
              }
              .required-1yn {
                letter-spacing: 0.112rem;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                font-size: 1.1063rem;
                font-weight: 400;
                line-height: 1.2125;
                display: flex;
                color: #c2c2c2;
                white-space: nowrap;
              }
            }
            .input-jet {
              border: solid 0.1rem #a9a9a9;
              box-sizing: border-box;
              background-color: #fafafa;
              flex-shrink: 0;
              width: 100%;
              height: 3.7rem;
            }
          }
          .divtextarea-yui3172115496901672231911-sWC {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .divll97ltnppgvbmrcigqyt-cig {
              margin: 0rem 115.591rem 1.1rem 0rem;
              width: calc(100% - 115.591rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .message-x1r {
                margin: 0.05rem 0.409rem 0rem 0rem;
                display: flex;
                font-weight: 400;
                letter-spacing: 0.112rem;
                color: #c2c2c2;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.1273rem;
                line-height: 1.2125;
              }
              .required-TUQ {
                display: flex;
                letter-spacing: 0.112rem;
                color: #c2c2c2;
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.05rem;
                font-size: 1.1063rem;
                font-weight: 400;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
              }
            }
            .textarea-mzt {
              position: relative;
              border: solid 0.1rem #a9a9a9;
              box-sizing: border-box;
              background-color: #fafafa;
              flex-shrink: 0;
              width: 100%;
              height: 10rem;
              overflow: hidden;
            }
          }
        }
        .button-uLQ {
          font-family: Montserrat, 'Source Sans Pro';
          width: 12.691rem;
          text-transform: uppercase;
          font-weight: 400;
          height: 4.6rem;
          display: flex;
          color: #b1afaf;
          border-radius: 0.3rem;
          justify-content: center;
          letter-spacing: 0.1rem;
          line-height: 1.2175;
          white-space: nowrap;
          border: solid 0.2rem #b1afaf;
          box-sizing: border-box;
          align-items: center;
          font-size: 1.3rem;
        }
      }
    }
    .footer-LwW {
      margin: 0rem 132.838rem 0rem 58.642rem;
      width: calc(100% - 191.48rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .divsqs-social-58Q {
        flex-shrink: 0;
        margin-bottom: 4.1rem;
        box-sizing: border-box;
        padding-right: 11.88rem;
        width: 100%;
        height: 2.4rem;
        display: flex;
        align-items: center;

        .auto-group-rrpq-o4Q {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.2rem 1.382rem 0.2rem 0.108rem;
          height: 100%;
          display: flex;
          align-items: center;

          .auto-group-pxvp-86g {
            margin-right: 1.45rem;
            box-sizing: border-box;
            padding: 0.2rem 0rem 0.2rem 0rem;
            width: 2.3rem;
            height: 100%;
            flex-shrink: 0;

            .mail-qWt {
              height: 100%;
              overflow: hidden;
              position: relative;
              box-sizing: border-box;
              padding: 0 0.092rem;
              width: 100%;

              .vector-Bqe {
                width: 2rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
          .linkedin-X8p {
            height: calc(100% - 0.2rem);
            flex-shrink: 0;
            margin: 0.1rem 0;
            box-sizing: border-box;
            padding: 0 0.012rem;
            width: 1.9rem;

            .vector-qvC {
              object-fit: contain;
              vertical-align: top;
              width: 1.8rem;
              height: 1.8rem;
            }
          }
        }
        .instagram-BjA {
          box-sizing: border-box;
          padding: 0.2rem;
          height: 100%;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .vector-iUC {
            width: 2rem;
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .sridharan-S9J {
        display: flex;
        justify-content: center;
        font-size: 0.875rem;
        letter-spacing: 0.112rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        width: 100%;
        font-weight: 400;
        line-height: 1.4857142857;
        color: #777777;
        align-items: center;
      }
    }
  }
}
