
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 190.3rem;
}.home-fH6 {
  height: 104.783rem;
  background-color: #2e2d2d;
  box-sizing: border-box;
  padding: 6.95rem 31.181rem 7rem 31.2rem;
  width: 100%;

  .divcanvas-PD6 {
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;

    .divheaderinfo-jXr {
      width: calc(100% - 95.089rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 47.543rem 3.9rem 47.546rem;

      .heading-1-bookmark-carlos-baena-rMa {
        flex-shrink: 0;
        margin: 0rem 0.022rem 3.85rem 0rem;
        font-weight: 400;
        line-height: 1.127753304;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        text-transform: uppercase;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5715rem;
        letter-spacing: 1rem;
      }
      .navigation-nav-list-vMS {
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        display: flex;

        .item-link-home-sGg {
          flex-shrink: 0;
          font-size: 1.2rem;
          line-height: 1.5;
          text-transform: uppercase;
          color: #e4e2e2;
          white-space: nowrap;
          letter-spacing: 0.2rem;
          font-family: Inter, 'Source Sans Pro';
          margin-right: 2.26rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 400;
        }
        .item-link-animation-msr {
          margin-right: 2.21rem;
          font-weight: 400;
          text-transform: uppercase;
          cursor: pointer;
          justify-content: center;
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          line-height: 1.5483870968;
          color: #a4a2a2;
          display: flex;
          font-size: 1.1625rem;
          letter-spacing: 0.2rem;
          font-family: Inter, 'Source Sans Pro';
        }
        .item-link-contact-4MA {
          line-height: 1.5483870968;
          color: #a4a2a2;
          cursor: pointer;
          font-size: 1.1625rem;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.16rem;
          display: flex;
          letter-spacing: 0.2rem;
          text-transform: uppercase;
          font-family: Inter, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          font-weight: 400;
        }
        .item-link-resources-Yn8 {
          text-transform: uppercase;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 400;
          line-height: 1.5483870968;
          letter-spacing: 0.2rem;
          color: #a4a2a2;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.1625rem;
        }
      }
    }
    .x800catacombsjpg-f64 {
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:4554e0f67a9bac9b3591983d8fceae33f84c5119');
      flex-shrink: 0;
      margin-bottom: 5.283rem;
      width: 127.919rem;
      height: 65.2rem;
      position: relative;
    }
    .footer-Lxt {
      margin: 0rem 53.847rem 0rem 57.85rem;
      width: calc(100% - 111.697rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .divsqs-social-5Qg {
        margin-bottom: 3.3rem;
        width: 100%;
        height: 3.2rem;
        position: relative;
        flex-shrink: 0;

        .auto-group-4qr4-Qxk {
          box-sizing: border-box;
          padding: 0.4rem 0.85rem 0.7rem 0.85rem;
          width: 6.512rem;
          height: 2.7rem;
          position: absolute;
          left: 0;
          top: 0;

          .mail-7cG {
            height: 100%;
            overflow: hidden;
            position: relative;
            margin-right: 2.512rem;
            box-sizing: border-box;
            padding: 0 0.092rem;
            width: 2.3rem;

            .vector-FTa {
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
              width: 2rem;
            }
          }
        }
        .linkedin-bGY {
          padding: 0.3rem;
          width: 2.4rem;
          height: 2.4rem;
          position: absolute;
          left: 4.312rem;
          top: 0;
          box-sizing: border-box;

          .vector-WuJ {
            width: 1.8rem;
            height: 1.8rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .auto-group-dxyn-G7n {
          top: 0;
          width: 3.57rem;
          height: 2.4rem;
          position: absolute;
          left: 7.882rem;

          .instagram-CGL {
            height: 100%;
            overflow: hidden;
            position: relative;
            margin-right: 1.17rem;
            box-sizing: border-box;
            padding: 0.2rem;
            width: 2.4rem;

            .vector-8vg {
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              width: 2rem;
            }
          }
        }
      }
      .sridharan-t9A {
        margin-right: 4.002rem;
        display: flex;
        font-size: 0.875rem;
        letter-spacing: 0.112rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        line-height: 1.4857142857;
        color: #777777;
      }
    }
  }
}
