
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.newsletter-DXJ {
  background-color: #2e2d2d;
  box-sizing: border-box;
  padding: 6.95rem 36.2rem 6.4rem 36.1rem;
  width: 100%;
  height: 126.33rem;

  .divcanvas-WmJ {
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;

    .divheaderinfo-Fit {
      margin: 0rem 43.374rem 12.4rem 43.496rem;
      width: calc(100% - 86.87rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .heading-1-bookmark-carlos-baena-ZzU {
        text-transform: uppercase;
        white-space: nowrap;
        flex-shrink: 0;
        align-items: center;
        line-height: 1.127753304;
        justify-content: center;
        font-size: 2.5715rem;
        font-weight: 400;
        letter-spacing: 1rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        margin: 0rem 0.022rem 3.85rem 0rem;
        display: flex;
      }
      .navigation-nav-list-cxk {
        height: 1.8rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;

        .item-link-home-MfS {
          margin-right: 2.26rem;
          text-transform: uppercase;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          display: flex;
          justify-content: center;
          color: #a4a2a2;
          align-items: center;
          font-size: 1.2rem;
          line-height: 1.5;
          letter-spacing: 0.2rem;
          font-weight: 400;
        }
        .auto-group-6nwg-d7A {
          flex-shrink: 0;
          height: 100%;
          display: flex;
          align-items: center;

          .item-link-animation-A76 {
            text-transform: uppercase;
            color: #e4e2e2;
            margin-right: 2.21rem;
            display: flex;
            justify-content: center;
            font-size: 1.1625rem;
            font-weight: 400;
            letter-spacing: 0.2rem;
            font-family: Inter, 'Source Sans Pro';
            align-items: center;
            line-height: 1.5483870968;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-link-contact-enx {
            display: flex;
            text-transform: uppercase;
            margin-right: 2.16rem;
            align-items: center;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            cursor: pointer;
            justify-content: center;
            font-weight: 400;
            color: #a4a2a2;
            flex-shrink: 0;
            font-size: 1.1625rem;
            line-height: 1.5483870968;
            letter-spacing: 0.2rem;
          }
          .item-link-resources-8TE {
            justify-content: center;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            color: #a4a2a2;
            white-space: nowrap;
            cursor: pointer;
            align-items: center;
            font-weight: 400;
            line-height: 1.5483870968;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            font-size: 1.1625rem;
          }
        }
      }
    }
    .main-brc {
      margin-bottom: 38.43rem;
      width: 100%;
      height: 45.7rem;
      flex-shrink: 0;

      .divnewsletter-form-wrapper-vdz {
        margin-bottom: 12.2rem;
        box-sizing: border-box;
        padding: 3.4rem 37.29rem 3.65rem 37.31rem;
        width: 100%;
        height: 33.5rem;
        background-color: rgba(0, 0, 0, 0.0500000007);

        .form-pjN {
          width: 100%;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .header-mec {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;
            align-items: center;

            .subscribe-ipk {
              letter-spacing: 0.18rem;
              color: #e4e2e2;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0rem 0.001rem 1.7rem 0rem;
              display: flex;
              justify-content: center;
              font-weight: 300;
              flex-shrink: 0;
              align-items: center;
              font-size: 2.5195rem;
              line-height: 1.4288372093;
              text-transform: uppercase;
            }
            .join-the-mailing-list-and-be-the-first-to-know-whenever-a-new-lesson-comes-out-an-update-to-an-existing-lesson-is-posted-or-other-applied-houdini-related-news-oLQ {
              font-size: 1.3828rem;
              font-weight: 300;
              color: #e4e2e2;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              justify-content: center;
              display: flex;
              align-items: center;
              line-height: 1.7355932203;
              max-width: 45.1rem;
            }
          }
          .auto-group-khgg-yPJ {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 3.5rem 3.172rem 0rem 3.151rem;
            width: 100%;
            align-items: center;
            display: flex;

            .divnewsletter-form-body-5x8 {
              align-items: center;
              flex-shrink: 0;
              margin-bottom: 3.65rem;
              width: 100%;
              height: 5.4rem;
              display: flex;

              .input-p92 {
                padding: 1.8rem 1.6rem 1.9rem 1.6rem;
                width: 24.4rem;
                height: 100%;
                border: solid 0.1rem rgba(0, 0, 0, 0.1199999973);
                background-color: #ffffff;
                flex-shrink: 0;
                margin-right: 0.989rem;
                box-sizing: border-box;

                .divplaceholder-iVJ {
                  position: relative;
                  margin-right: 11.8rem;
                  overflow: hidden;
                  align-items: center;
                  line-height: 1.2125;
                  white-space: nowrap;
                  width: 9.4rem;
                  height: 100%;
                  font-size: 1.3945rem;
                  font-weight: 400;
                  display: flex;
                  color: rgba(0, 0, 0, 0.3000000119);
                  font-family: Inter, 'Source Sans Pro';
                  justify-content: center;
                }
              }
              .button-yAL {
                border: solid 0.1rem #272727;
                width: 13.388rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 400;
                text-transform: uppercase;
                background-color: #272727;
                flex-shrink: 0;
                font-size: 1.4063rem;
                line-height: 1.2125;
                box-sizing: border-box;
                white-space: nowrap;
                height: 100%;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
              }
            }
            .we-respect-your-privacy-no-name-required-unsubscribe-whenever-T5W {
              justify-content: center;
              font-size: 1.1063rem;
              font-weight: 300;
              line-height: 1.2125;
              white-space: nowrap;
              margin-left: 0.021rem;
              display: flex;
              align-items: center;
              color: #e4e2e2;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .footer-KNc {
      margin: 0rem 52.648rem 0rem 54.542rem;
      width: calc(100% - 107.19rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .divsqs-social-3Jc {
        margin-bottom: 4.1rem;
        width: 100%;
        height: 2.4rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-byb2-yi4 {
          box-sizing: border-box;
          padding: 0.3rem 1.382rem 0.3rem 0.108rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .mail-WT6 {
            flex-shrink: 0;
            margin: 0.1rem 1.45rem 0.1rem 0rem;
            box-sizing: border-box;
            padding: 0 0.092rem;
            width: 2.3rem;
            height: calc(100% - 0.2rem);
            overflow: hidden;
            position: relative;

            .vector-oSC {
              width: 2rem;
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .linkedin-jqe {
            width: 1.9rem;
            height: 100%;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0 0.012rem;

            .vector-3rL {
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.8rem;
            }
          }
        }
        .auto-group-awoe-P9W {
          flex-shrink: 0;
          margin-right: 1.17rem;
          width: 2.4rem;
          height: 100%;

          .instagram-7LQ {
            overflow: hidden;
            position: relative;
            box-sizing: border-box;
            padding: 0.2rem;
            width: 100%;
            height: 100%;

            .vector-TQG {
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              width: 2rem;
            }
          }
        }
        .auto-group-uswn-oU8 {
          width: 1.8rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .sridharan-8WQ {
        line-height: 1.4857142857;
        letter-spacing: 0.112rem;
        color: #777777;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.774rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.875rem;
        font-weight: 400;
      }
    }
  }
}
