
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 199.6rem;
}.about-5U8 {
  width: 100%;
  height: 145.15rem;
  background-color: #2e2d2d;
}
.about-5U8 .divcanvas-2PN {
  width: 184.6rem;
  height: 138.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.about-5U8 .divcanvas-2PN .auto-group-65nu-mLx {
  margin-bottom: 3.23rem;
  width: 100%;
  height: 127.72rem;
  position: relative;
  flex-shrink: 0;
}
.about-5U8 .divcanvas-2PN .auto-group-65nu-mLx .divheaderinfo-hkQ {
  width: 32.83rem;
  height: 8.65rem;
  position: absolute;
  left: 87.196rem;
  top: 25.77rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.about-5U8 .divcanvas-2PN .auto-group-65nu-mLx .divheaderinfo-hkQ .heading-1-bookmark-carlos-baena-c6g {
  margin: 0rem 0.022rem 3.85rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5715rem;
  font-weight: 400;
  line-height: 1.127753304;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-5U8 .divcanvas-2PN .auto-group-65nu-mLx .divheaderinfo-hkQ .navigation-nav-list-F9e {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-5U8 .divcanvas-2PN .auto-group-65nu-mLx .divheaderinfo-hkQ .navigation-nav-list-F9e .item-link-home-Nk4 {
  margin-right: 2.26rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #a4a2a2;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-5U8 .divcanvas-2PN .auto-group-65nu-mLx .divheaderinfo-hkQ .navigation-nav-list-F9e .item-link-animation-fDN {
  margin-right: 2.21rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1625rem;
  font-weight: 400;
  line-height: 1.5483870968;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #a4a2a2;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-5U8 .divcanvas-2PN .auto-group-65nu-mLx .divheaderinfo-hkQ .navigation-nav-list-F9e .item-link-contact-9uE {
  margin-right: 2.16rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1625rem;
  font-weight: 400;
  line-height: 1.5483870968;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #a4a2a2;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-5U8 .divcanvas-2PN .auto-group-65nu-mLx .divheaderinfo-hkQ .navigation-nav-list-F9e .item-link-resources-Evg {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1625rem;
  font-weight: 400;
  line-height: 1.5483870968;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #e4e2e2;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-5U8 .divcanvas-2PN .auto-group-65nu-mLx .main-Lyi {
  width: 184.6rem;
  height: 127.72rem;
  position: absolute;
  left: 0;
  top: 0;
}
.about-5U8 .divcanvas-2PN .auto-group-65nu-mLx .main-Lyi .divpage-5c5e653553450a883a13f7ac-gng {
  box-sizing: border-box;
  padding: 44.377rem 0rem 0rem 76.8rem;
  width: 184.6rem;
  height: 78.907rem;
  position: absolute;
  left: 0;
  top: 0;
}
.about-5U8 .divcanvas-2PN .auto-group-65nu-mLx .main-Lyi .divpage-5c5e653553450a883a13f7ac-gng .divyui31721170575928506274-nap {
  width: 100%;
  height: 100%;
}
.about-5U8 .divcanvas-2PN .auto-group-65nu-mLx .main-Lyi .divpage-5c5e653553450a883a13f7ac-gng .divyui31721170575928506274-nap .divsqs-html-content-jFA {
  width: 62.4rem;
  height: 26.091rem;
}
.about-5U8 .divcanvas-2PN .auto-group-65nu-mLx .main-Lyi .divpage-5c5e653553450a883a13f7ac-gng .divyui31721170575928506274-nap .divsqs-html-content-jFA .hello-im-sridharan-a-self-taught-3d-artist-from-namakkal-tamil-nadu-with-a-year-of-industry-experience-and-a-degree-in-multimedia-production-technology-i-specialize-in-creating-high-quality-3d-models-and-assets-using-various-software-my-focus-is-on-continuous-learning-and-exploring-new-techniques-to-enhance-my-skills-in-3d-art-rKn {
  margin-bottom: 2.77rem;
  max-width: 61.1rem;
  display: flex;
  font-size: 1.1273rem;
  font-weight: 400;
  line-height: 1.4990990653;
  letter-spacing: 0.112rem;
  color: #c2c2c2;
  font-family: Inter, 'Source Sans Pro';
}
.about-5U8 .divcanvas-2PN .auto-group-65nu-mLx .main-Lyi .divpage-5c5e653553450a883a13f7ac-gng .divyui31721170575928506274-nap .divsqs-html-content-jFA .my-passion-is-deeply-rooted-in-the-dynamic-and-visually-captivating-fields-of-fx-maya-modeling-texturing-lookdev-lighting-rendering-and-houdini-fx-these-disciplines-allow-me-to-merge-technical-prowess-with-artistic-flair-whether-im-crafting-intricate-simulations-infusing-models-with-textures-and-lighting-or-refining-visual-aesthetics-for-immersive-scenes-each-project-fuels-my-drive-to-innovate-and-push-the-boundaries-of-whats-achievable-in-the-dynamic-world-of-3d-art-DJk {
  margin-bottom: 4.621rem;
  max-width: 62.4rem;
  display: flex;
  font-size: 1.1375rem;
  font-weight: 400;
  line-height: 1.4857142522;
  letter-spacing: 0.112rem;
  color: #c2c2c2;
  font-family: Inter, 'Source Sans Pro';
}
.about-5U8 .divcanvas-2PN .auto-group-65nu-mLx .main-Lyi .divpage-5c5e653553450a883a13f7ac-gng .divyui31721170575928506274-nap .divsqs-html-content-jFA .sridharan-HT2 {
  display: flex;
  font-size: 1.168rem;
  font-weight: 400;
  line-height: 1.4469564891;
  letter-spacing: 0.112rem;
  color: #c2c2c2;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.about-5U8 .divcanvas-2PN .auto-group-65nu-mLx .main-Lyi .rectangle-1-xJG {
  width: 112.1rem;
  height: 52.2rem;
  position: absolute;
  left: 48.2rem;
  top: 75.52rem;
  object-fit: cover;
  vertical-align: top;
}
.about-5U8 .divcanvas-2PN .footer-r8k {
  margin: 0rem 73.248rem 0rem 98.242rem;
  width: calc(100% - 171.49rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-5U8 .divcanvas-2PN .footer-r8k .divsqs-social-Nct {
  margin-bottom: 4.1rem;
  box-sizing: border-box;
  padding-right: 0.2rem;
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-5U8 .divcanvas-2PN .footer-r8k .divsqs-social-Nct .auto-group-yymv-gtU {
  box-sizing: border-box;
  padding-right: 1.382rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-5U8 .divcanvas-2PN .footer-r8k .divsqs-social-Nct .auto-group-yymv-gtU .auto-group-wmve-S6x {
  margin: 0rem 1.45rem 0.4rem 0rem;
  box-sizing: border-box;
  padding: 0.4rem 0rem 0rem 0.108rem;
  width: 2.408rem;
  height: 2rem;
  flex-shrink: 0;
}
.about-5U8 .divcanvas-2PN .footer-r8k .divsqs-social-Nct .auto-group-yymv-gtU .auto-group-wmve-S6x .mail-8Eg {
  box-sizing: border-box;
  padding: 0 0.092rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.about-5U8 .divcanvas-2PN .footer-r8k .divsqs-social-Nct .auto-group-yymv-gtU .auto-group-wmve-S6x .mail-8Eg .vector-UJY {
  width: 2rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
}
.about-5U8 .divcanvas-2PN .footer-r8k .divsqs-social-Nct .auto-group-yymv-gtU .linkedin-Qhz {
  margin: 0.3rem 0;
  box-sizing: border-box;
  padding: 0 0.012rem;
  width: 1.9rem;
  height: calc(100% - 0.6rem);
  flex-shrink: 0;
}
.about-5U8 .divcanvas-2PN .footer-r8k .divsqs-social-Nct .auto-group-yymv-gtU .linkedin-Qhz .vector-YJQ {
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
}
.about-5U8 .divcanvas-2PN .footer-r8k .divsqs-social-Nct .instagram-5JL {
  margin-right: 1.37rem;
  box-sizing: border-box;
  padding: 0.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.about-5U8 .divcanvas-2PN .footer-r8k .divsqs-social-Nct .instagram-5JL .vector-QrQ {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
}
.about-5U8 .divcanvas-2PN .footer-r8k .divsqs-social-Nct .auto-group-wezy-N2Y {
  margin: 0.2rem 0;
  width: 2rem;
  height: calc(100% - 0.4rem);
  flex-shrink: 0;
}
.about-5U8 .divcanvas-2PN .footer-r8k .sridharan-JB6 {
  margin-right: 2.374rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4857142857;
  letter-spacing: 0.112rem;
  color: #777777;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
